$color_primary: #75B2BA;
$color_secondary: #478C95;
$color_tertiary: #0B434A;
$color_white: #F2F4FD;

.container {
   width: 100%;
   height: 100%;
   @include container(70%);
   @include flex (space-between, center, row);

   @media (max-width: 1336px) {
      @include container(85%);
   }
   @media (max-width: 768px) {
      @include container(90%);
   }
}