@import "../abstract/mixins";

@import "../components/buttons";

@import "../core/reset", "../core/typography";

#main {
   width: 100vw;
   height: auto;


   // HOME PAGE //
   .home-container {
      height: 100%;
      
      @include flex(normal, center, column-reverse);

      @media(min-width: 768px) {
         @include flex(space-between, center, row)
      }

      .home-img {
         @include flex(center, center, column);
         height: calc(100vh - 90px);
         
         @media (max-width: 768px) {
            height: 70vh;
         }
         h1 {
            font-size: 4.8rem;
            font-weight: 500;
            color: $color_secondary;

            margin-bottom: 2rem;

            span {
               font-weight: bolder;
               color: $color_tertiary;
            }
         }

         img {
            width: 300px;

            @media(min-width: 1336px) {
               width: 350px;
            }
         }
      }

      .home-content {
         @include flex (center, flex-start, column);
         height: 100vh;

         @media(max-width: 768px) {
            height: 70vh;
         }

         h1 {
            font-size: 4.8rem;
            font-weight: bolder;
            color: $color_secondary;
            padding-top: 1rem;
            margin-bottom: 2.4rem;
            border-top: 10px solid $color_secondary;

            word-break: break-word;
         }

         p {
            font-size: 2.4rem;
            line-height: 160%;
            color: #000C1A;

            margin-bottom: 4rem;
         }

         button {
            position: relative;
            border: 2px solid $color_secondary;
            border-radius: 10px;
            width: 200px;
            height: auto;
            padding: 1.4rem 0;
            background-color: transparent;

            color: $color_secondary;
            font-weight: bolder;
            font-size: 2.4rem;
            
            transition: all .5s ease;
            cursor: pointer;
            
            &:hover {
               color: $color_white;
               background-color: $color_secondary;
            }

               
            &:active {
               background-color: $color_tertiary;
               color: $color_white;
            }
         }
      }  
   }



   // HOME FUNCTIONALITIES

   .functionalities-bg {
      background-color: $color_white;


      .content-functionalities {
         @include flex (center, center, column); 
         width: 100%;
         min-height: 100vh;
         padding: 4rem 0;

         h1 {
            font-size: 4.8rem;
            color: $color_secondary;

            margin-bottom: 4rem;
         }

         .accordion {
            background-color: $color_secondary;
            border: none;
            border-bottom: 1px solid $color_primary;
            outline: none;
            color: $color_white;

            font-size: 3.2rem;
            font-weight: 500;
            text-align: left;
            
            padding: 16px;
            width: 100%;
            
            transition: 0.4s;
            cursor: pointer;


            &:hover {
               opacity: .7;
            }
         }

         .active, .accordion:hover {
            background-color: $color_tertiary;
         }

         .panel {
            font-size: 2.4rem;
            font-weight: 400;

            color: $color_white;
            background-color: $color_secondary;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            display: none;
            overflow: hidden;
            padding: 12px 16px;
            margin-bottom: 5px;
            width: 100%;
            
            transition: all .5s ease;
          }
      }

   }
   
}

.accordion:after {
   content: '\002B';
   color: $color_white;
   font-weight: bold;
   float: right;
   margin-left: 5px;
 }
 
 .active:after {
   content: "\2212";
 }


