@import "../abstract/mixins";

@import "../components/buttons";

@import "../core/reset", "../core/typography";

@import "../layout/footer", "../layout/header";

#main {
   width: 100vw;
   height: auto;

   .main-container {
      height: 100%;
      
      @include flex(normal, center, column-reverse);

      .home-img {
         @include flex(center, center, column);
         height: calc(100vh - 80px);

         h1 {
            font-size: 3.6rem;
            font-weight: 500;
            color: $color_tertiary;

            margin-bottom: 1rem;

            span {
               font-weight: bolder;
            }
         }

         img {
            width: 300px;
         }
      }

      .home-content {
         @include flex (center, flex-start, column);
         height: 80vh;

         h1 {
            font-size: 5.6rem;
            font-weight: bolder;
            color: $color_tertiary;
            padding-top: 2rem;
            margin-bottom: 2rem;
            border-top: 10px solid $color_tertiary;

            word-break: break-word;
         }

         p {
            font-size: 2.4rem;
            line-height: 160%;
            color: #000C1A;

            margin-bottom: 4rem;
         }

         button {
            border: 2px solid $color_tertiary;
            border-radius: 10px;
            padding: 2rem 4rem;
            background-color: transparent;

            color: $color_tertiary;
            font-weight: bolder;
            font-size: 2.4rem;
            
            transition: all .5s ease;
            cursor: pointer;
            
            &:hover {
               background-color: $color_tertiary;
               color: $color_white;
            }

            &:active {
               background-color: $color_tertiary;
               color: $color_white;
            }
         }
      }  
   }
}


