@import "../abstract/mixins", "../abstract/variable";

@import "../components/buttons";

@import "../core/reset", "../core/typography";

#footer {
   background-image: linear-gradient(218.2deg, $color_primary 13.3%, #1AC79B 82.4%);
   width: 100%;
   height: 80px;

   h1 {
      font-size: 2.4rem;
      a {
         text-decoration: none;
         color: $color_tertiary;
         transition: color 0.5s;

         &:hover {
            filter:brightness(1.5)
         }
      }
   }

   .footer-socials {
      display: flex;
      gap: 2rem;

      i {
         font-size: 3rem;
         color: $color_tertiary;
         cursor: pointer;

         transition: color .5s ease;

         &:hover {
            filter: brightness(1.5);
         }
      }
   }
}


