@import "../abstract/variable", "../abstract/mixins";
@import "../core/reset", "../core/typography";



.header {
   width: 100vw;
   height: 90px;
   display: flex;
   align-items: center;

   background-image: linear-gradient(218.2deg, $color_primary 13.3%, #1AC79B 82.4%);

}


// LOGO
.header-logo {
   @include flex(normal, center, row);
   
   h1 {
      font-size: 5.6rem;
      color: $color_tertiary;

      border-right: 2px solid $color_tertiary;
      padding-right: .365rem;
      margin-right: .365rem;

      transition: all .5s ease;
   }

   p {
      @include paragraph($color_tertiary);
      font-weight: bold;
      font-family: 'Labrada', serif;

      transition: all .5s ease;
   }
}

// NAVBAR
.nav {

   // BUTTON MOBILE
   .btnMobile {
      display: none;
      gap: 2rem;
      border: none;

      cursor: pointer;

      background-color: $color_primary;

      @media(max-width: 768px) {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      #hamburguer {
         width: 25px;
         border-top: 2px solid;
         color: $color_tertiary;
         overflow: hidden;
         
         &::after, &::before {
            content: '';
            display: block;
            width: 25px;
            height: 2px;
            margin-top: 7px;
            background-color: currentColor;
            transition: all .3s ease;
            position: relative;
         }

         &::after {
            margin-bottom: 5px;
         }
      }
   }

   // MENU
   .menu {
      display: flex;
      gap: 1rem;

      @media(max-width: 768px) {
         display: block;
         width: 100%;
         height: 0;

         position: absolute;
         top: 80px;
         right: 0;

         text-align: center;
         z-index: 1000;

         transition: all .5s ease;
      }

      
      li {
         font-size: 2.2rem;
         transition: all .5s ease;

         @media(max-width: 768px) {
            text-transform: uppercase;
         }

         &:hover {
            background-color: $color_primary;
            filter: brightness(1.2);
         }

         a {
            display: block;
            color: $color_tertiary;
            padding: 1rem;

            @media(max-width: 768px) {
               padding: 2rem 0;
               border-bottom: 2px solid $color_secondary;
            }
         }
      }
   }

}

// MOBILE MENU -- TOGGLE //
.nav.active .menu {
   height: calc(100vh - 80px);
   background-image: linear-gradient(218.2deg, $color_primary 13.3%, #1AC79B 82.4%);
}

@media(max-width: 768px) {
   .nav.active #hamburguer {
      border-top-color: transparent;

      &::before {
         transform: rotate(135deg);
      }

      &::after {
         transform: rotate(-135deg);
         top: -9px;
      }
   }
   
}












